* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
    font-family: "Inter", sans-serif;
}
.show-more {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.show-btn {
  font-weight: 600;
  font-size: 18px;
  color: #1dbf73;
  padding: 16px 48px;
  border-radius: 40px;
  outline: none;
  border: 1px solid #1dbf73;
  background: transparent;
  cursor: pointer;
}
